process {
        // Apply to all processes
        conda = 'envs/genotator.yaml'
}

params {
  fasta_dir = "$launchDir/fasta_files"
  reads_dir = "$launchDir/reads_files"
  intermediates_dir = "$launchDir/intermediate_files"
  results_dir = "$launchDir/results"
}

profiles {
  local {
    conda {
      enabled = true
      autoActivate = true
    }
  }

  slurm {
    process.executor = 'slurm'

    conda {
      enabled = true
      mamba = false      // Fall back to conda on SLURM
      autoActivate = true
    }
  }
}
