profiles {
  local {
    conda {
      enabled = true
      mamba = true       // Use micromamba locally
      autoActivate = true
    }
  }

  slurm {
    process.executor = 'slurm'

    conda {
      enabled = true
      mamba = false      // Fall back to conda on SLURM
      autoActivate = true
    }
  }
}
process {
        // Apply to all processes
        conda = 'envs/genotator.yaml'
}